.correct
    color : green

.incorrect
    color : red


.grid-container
    margin: 0 auto
    width: 60vw
    min-width: 600px
    grid-column: 2 / span(8)
    display : grid
    grid-template-columns: repeat(12, minmax(1fr,100px))
    grid-auto-rows: 200px


.main-content

.main-content__sample-text
    background-color: #FFFFCC
.main-content__user-text
    width: 100%
    text-align: center